@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');

/*Обнуление*/
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    user-select: none;
}

img {
    vertical-align: top;
    transform: scale(0.67);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    line-height: 1.5;
    font-size: 18px;
    font-weight: 700;
    color: #141414;
    font-family: "Heebo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #e5e5e5;
}

.outro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #e5e5e5;
    height: 100%;
    width: 100%;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: 150ms ease-in-out;
    z-index: -1;
}

.outro.visible {
    opacity: 1;
    pointer-events: auto;
    z-index: 5;
}

.outro h1 {
    width: 100%;
    font-size: 52px;
    text-align: center;
}

.outro-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.outro-buttons button {
    margin-right: 25px;
    padding: 10px 25px;
    width: 150px;
    font-size: 24px;
    color: #fff;
    background-color: #0774ab;
    border-radius: 50px;
    transition: 150ms ease-in-out;
    cursor: pointer;
}

.outro-buttons button:last-child {
    background-color: #005c4b;
}

.outro-buttons button:hover {
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.4);
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
}

.button-back {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40px;
    left: 40px;
    max-width: 250px;
    text-align: center;
    z-index: 4;
}

.button-back h1 {
    margin-bottom: 20px;
    font-size: 28px;

}

.button-back button {
    margin-bottom: 10px;
    padding: 10px 25px;
    font-size: 16px;
    color: #fff;
    background-color: rgba(7, 116, 171, 0.75);
    border-radius: 50px;
    transition: 150ms ease-in-out;
    cursor: pointer;
}

.button-back button[type="submit"] {
    background-color: #0774ab;
}

.button-back button:hover {
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.4);
}

/* Intro */

.intro-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.intro-block * {
    margin-bottom: 40px;
}

.intro-title {
    width: 100%;
    text-align: center;
    font-size: 52px;
}

@media (max-width: 530px) {
    .intro-title {
        white-space: wrap;
    }
}

.intro-text {
    font-size: 24px;
}

.intro-form input[type="number"] {
    margin-right: 15px;
    padding: 15px 20px;
    display: none;
    width: 180px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 12px;
}

.intro-form input[type="number"]:focus {
    outline: none;
}

/* Для Chrome и Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Для Firefox */
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

/* Для IE и Edge */
input[type="number"]::-ms-clear {
    display: none;
}

.intro-button {
    padding: 15px 0px;
    width: 150px;
    font-size: 18px;
    background-color: #fff;
    border-radius: 12px;
    transition: 150ms ease-in-out;
    cursor: pointer;
}

.intro-button.active {
    color: #fff;
    background-color: #0774ab;
}

.intro-button:not(:last-child) {
    margin-right: 40px;
}

.intro-button:hover {
    color: #fff;
    background-color: #0774ab;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.4);
}

#colorPlayer {
    margin-right: 15px;
    display: none;
    text-align: center;
    background-color: #0774ab;
}

#colorPlayer:focus {
    outline: none;
}

#custom.active {
    background-color: #005c4b;
}

#custom:hover {
    background-color: #005c4b;
}

@media (max-width: 1400px) {
    .intro-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .intro-button:not(:last-child) {
        margin-right: 0;
    }

    .intro-form input[type="number"] {
        margin-right: 0;
    }

    #colorPlayer {
        margin-right: 0;
    }
}

.play-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 0;
    opacity: 0;
    pointer-events: none;
    transition: 300ms ease-in-out;
}

.play-block.visible {
    height: auto;
    opacity: 1;
    pointer-events: auto;
}

.play-block-title {
    padding: 0px 10px;
    max-width: 800px;
    font-weight: 500;
    text-align: center;
}

.intro-sumbit {
    padding: 15px 0px;
    width: 150px;
    color: #fff;
    font-size: 18px;
    background-color: #0774ab;
    border-radius: 12px;
    transition: 150ms ease-in-out;
    cursor: pointer;
}

.intro-sumbit:hover {
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.4);
}

/* Main */

.boards {
    display: flex;
}

.play-board {
    padding: 27px 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 938px;
    width: 828px;
}

.player-desk {
    height: 453px;
    width: 618px;
    background-color: #fff;
    border-radius: 50%;
}

.player-desk:first-child {
    margin-bottom: 32px;
}

.player-desk:last-child {
    display: flex;
    flex-direction: column-reverse;
}

.sign {
    padding: 0px 67px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 167px;
}

.sign.changed {
    filter: invert(1);
}

.player-desk:last-child .sign img {
    transition: 150ms ease-in-out;
    cursor: pointer;
}

.player-desk:last-child .sign img:hover {
    transform: scale(0.77);
    filter: drop-shadow(3px 5px 10px rgba(0, 0, 0, 0.6));
}

.player-desk:last-child .sign img.block {
    cursor: default;
}

.player-desk:last-child .sign img.block:hover {
    transform: scale(0.67);
    filter: none;
}

.table {
    padding: 33.5px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    height: 561px;
    width: 828px;
    background-color: #ffc499;
    border-radius: 33.5px;
    z-index: 2;
}

.choose-sign {
    position: relative;
    height: 174px;
    width: 134px;
    border: 8px dashed #fff;
    z-index: 3;
}

.choose-sign.changed {
    filter: hue-rotate(180deg);
}

.choose-sign img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-45%, -45%);
    opacity: 0;
    transition: 150ms ease-in-out;
}

.choose-sign img.showed {
    opacity: 1;
}

.table-background {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    transform: translate(-50%, -50%);
}

.table-background img {
    height: 100%;
    transform: scale(1);
    opacity: 0.4;
}

.table-background-title {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    font-size: 33.5px;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.score-board {
    margin-left: 92px;
    display: flex;
    align-items: center;
}

.score-desk {
    padding: 74px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 344px;
    width: 186px;
    background-color: #fff;
    border-radius: 33.5px;
}

.player-score {
    display: flex;
    align-items: center;
}

.player-score-num {
    font-size: 33.5px;
}

.player-score-title {
    font-weight: 400;
}

hr {
    height: 1px;
    width: 63px;
    background-color: #141414;
}

.win-end {
    margin-left: 37px;
    position: relative;
    height: 214px;
}

.win-end img {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%) scale(0.67);
    transition: 150ms ease-in-out;
}

.win-end.lose img {
    top: 0;
    transform: scale(0.67);
}

.win-end.win img {
    top: 73%;
    transform: scale(0.67);
}

@media (max-width: 1400px) {
    .button-back {
        top: 30px;
        left: 0;
        max-width: 100vw;
        width: 100vw;
    }

    .boards {
        margin-top: 150px;
        flex-direction: column-reverse;
    }

    .play-board {
        margin-top: -200px;
        transform: scale(0.5);
    }

    .score-board {
        margin-left: 0px;
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }

    .score-desk {
        padding: 15px 25px;
        flex-direction: row;
        justify-content: space-evenly;
        height: auto;
        width: 300px;
    }

    hr {
        height: 25px;
        width: 1px;
    }

    .win-end {
        margin-left: 0;
        height: 80px;
    }

    .win-end img {
        top: 0;
        transform: translate(-50%) scale(0.67);
    }

    .win-end.lose img {
        top: 0;
        transform: translate(-100%) scale(0.67);
    }

    .win-end.win img {
        top: 0%;
        transform: translate(0%) scale(0.67);
    }
}
